.container {
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: repeat(auto-fit, 225px);
  row-gap: 46px;
  column-gap: 48px;
}

.message {
  width: 100%;
  padding-top: 2rem;
  text-align: center;
}
